@{
    ViewBag.Title = "AdreseGoreUyelerV2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .filter .dropdown-menu ul.menu li { padding: 10px; }

    .filter .body { padding: 0px; }

    .select2-chosen { margin: -5px; }

    .filter .input-group { margin-bottom: 0; }
</style>
<link href="/Scripts/select2/select2.css" rel="stylesheet"/>
<div class="card">
    <div class="header bg-blue">
        <h2> Birim Projeleri </h2>
        <ul class="header-dropdown m-r-0 icon-button-demo filter card-body">
            <li>
                <a class="btn bg-cyan waves-effect waves-float" data-toggle="dropdown" role="button"> Yeni Proje Ekle </a>
                <ul class="dropdown-menu" style="position: relative;">
                    <li class="header">Ekle</li>
                    <li class="body" data-id="formProject" data-model-url="/Work/InsertProject" data-reload="true">
                        <ul class="menu tasks">
                            <li>
                                <input class="form-control" data-attribute="UnitId"/>
                            </li>
                            <li>
                                <div class="input-group">
                                    <div class="form-line">
                                        <input class="form-control" data-attribute="Name"/>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0)" type="button" class="btn bg-cyan waves-effect waves-float pull-right" onclick="formSendModel($('[data-id=\'formProject\']')[0].dataset);">Yeni Proje Ekle</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a class="btn bg-orange waves-effect waves-float " data-toggle="dropdown" role="button"> Filtreyi Aç </a>
                <ul class="dropdown-menu" style="position: relative;">
                    <li class="header">Filtreleme Seçenekleri</li>
                    <li class="body">
                        <ul class="menu tasks">
                            <li>
                                <div class="input-group">
                                    <div class="form-line">
                                        <label>Birim</label> <input class="form-control" data-attribute="UnitId"/>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button type="button" class="btn bg-orange waves-effect waves-float pull-left" onclick="dataSource.read();" data-loading="cardloading">Filtrele</button> <button type="button" class="btn bg-red waves-effect waves-float pull-right" onclick="SetValue(null);dataSource.read();" data-loading="cardloading">Filtreyi Kaldır</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="body" style="padding: 0;">
        <div class="col-md-12 m-t-10">
            <div class="col-md-3">
                <div class="form-group">
                    <label>İLÇE</label> <input class="form-control" data-attribute="ISADRESILCE" onchange="funcIlceChange(this)"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>MAHALLE</label> <input class="form-control" data-attribute="ISADRESMAHALLE" onchange="funcMahalleChange(this)"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>BULVAR/CADDE/SOKAK</label> <input class="form-control" data-attribute="ISADRESCADSOKBULV"/>
                </div>
            </div>
            <div class="col-md-1 m-t-20">
                <a href="#" class="btn btn-primary" onclick="return Listele();"><i class="fa fa-search"></i> Listele</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="grid"></div>
    </div>
</div> <br/><br/>


@section scripts{
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo.timezones.min.js"></script>
    <script src="~/Scripts/kendo.culture.tr-TR.min.js"></script>
    <script src="~/Scripts/kendo.messages.tr-TR.min.js"></script>
    <link href="~/Content/kendo.material.min.css" rel="stylesheet"/>
    <link href="~/Content/kendo.common-material.min.css" rel="stylesheet"/>
    <link href="~/Content/kendo.material.mobile.min.css" rel="stylesheet"/>
    <script src="/Scripts/select2/select2.min.js"></script>
    <style>
        .k-grid-content table tr td, .k-grid-content-locked table tr td { padding: 10px; }

        .demo-checkbox label, .demo-radio-button label {
            min-width: inherit;
            min-width: initial;
        }

        #grid {
            border: none;
            border-top: 1px solid #2092c9 !important;
        }

        .col-md-x { max-width: 750px; }

        .col-md-x .media:last-child { padding-bottom: 10px; }

        .k-grid-header .k-header, .k-grid-header .k-header .k-link, .k-grid-header .k-link, .k-grid-header .k-link:link, .k-pager-info, .k-scheduler-agendaview .k-scheduler-datecolumn, .k-scheduler-header {
            color: #555;
            font-weight: bold !important;
        }

        .media-heading {
            color: #2196f3 !important;
            margin-bottom: 0 !important;
        }

        .media {
            background-color: #fff;
            color: #555;
            margin-bottom: 0;
            padding: 10px;
            padding-bottom: 0;
        }

        .shadow { box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

        .shadow-2 { box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }

        tr.k-detail-row.k-alt, .k-detail-row { background-color: #efefef !important; }

        .k-scheduler-toolbar > ul:first-child { float: none; }

        .k-scheduler-toolbar > ul {
            float: none;
            text-align: center;
        }

        .k-button, .k-calendar .k-footer, .k-calendar .k-header .k-link { text-transform: none; }

        .k-grid td { padding: 3px; }

        .k-header.k-grid-toolbar { border-color: #33a9d5; }

        .k-grouping-header .k-group-indicator, .k-pivot-toolbar .k-button { border-color: #33a9d5; }

        .k-grouping-header .k-group-indicator, .k-pivot-toolbar .k-button,
        .k-block, .k-button, .k-draghandle, .k-grouping-header, .k-header.k-grid-toolbar,
        .k-header, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header { background-color: #2196F3; }

        .k-grid-toolbar {
            padding-bottom: 0;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 0;
        }

        .media .media-body .media-heading { font-size: 14px; }

        .k-grid td { line-height: 1.2em; }

        .k-dirty { border-style: none; }
    </style>
    <script>
        $.ErcanAyhan.Server.GetAsync("",
            "/Sicil/GetirIlceler",
            function(e) {
                $("[data-attribute='ISADRESILCE']").select2({
                    placeholder: 'İlçe seçiniz',
                    type: "GET",
                    data: e
                });
            });

        function funcIlceChange() {
            var id = $("[data-attribute='ISADRESILCE']").val();
            $.ErcanAyhan.Server.GetAsync("",
                "/Sicil/GetirIlceyeGoreMahalle?id=" + id,
                function(e) {
                    $("[data-attribute='ISADRESMAHALLE']").select2({
                        type: "GET",
                        data: e,
                        placeholder: 'Mahalle seçiniz',
                    });
                });
            $("[data-attribute='ISADRESMAHALLE']").select2('open');
            $("[data-attribute='ISADRESMAHALLE']").val(null).trigger('change');
            $("[data-attribute='ISADRESCADSOKBULV']").val(null).trigger('change');
        }

        function funcMahalleChange() {
            var id = $("[data-attribute='ISADRESMAHALLE']").val();
            $.ErcanAyhan.Server.GetAsync("",
                "/Sicil/GetirMahalleyeGoreCadSokBulv?id=" + id,
                function(e) {
                    $("[data-attribute='ISADRESCADSOKBULV']").select2({
                        type: "GET",
                        data: e,
                        placeholder: 'Bulvar Cadde Sokak seçiniz',
                    });
                });
            $("[data-attribute='ISADRESCADSOKBULV']").select2('open');
        }

        function Listele() {
            var ilce = $("[data-attribute='ISADRESILCE']").val();
            var mahalle = $("[data-attribute='ISADRESMAHALLE']").val();
            var cadde = $("[data-attribute='ISADRESCADSOKBULV']").val();

            if (ilce == "") {
                swal("İlçe seçmelisiniz", "Listeleme yapabilmek için en az bir ilçe seçmelisiniz.", "warning");
            } else {
                var dataCount = 0;
                kendo.culture("tr-TR");

                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/Sicil/ListeleV2",
                            dataType: "json"
                        },
                        parameterMap: function(options) {
                            return "&ilcem=" + ilce + "&mahallem=" + mahalle + "&caddem=" + cadde;
                        }
                    },
                    pageSize: 10,
                    serverPaging: false,
                    batch: true,
                    schema: {
                        model: {
                            fields: {
                                SicilNo: { editable: false },
                                AdSoyad: { editable: false },
                                TCKimlikNo: { editable: false },
                                CepTel: { editable: false },
                                IsAdres: { editable: false }
                            }
                        }
                    }
                });


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    groupable: true,
                    sortable: true,
                    navigatable: true,
                    scrollable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: [20, 50, 100, 250, 1000],
                    },
                    editable: true,
                    columns: [
                        { field: "SicilNo", title: "Sicil No", width: 80 },
                        { field: "AdSoyad", title: "Adı Soyadı", width: 160 },
                        { field: "TCKimlikNo", title: "TC Kimlik No", width: 100 },
                        { field: "CepTel", title: "Cep Telefonu", width: 120 },
                        { field: "IsAdres", title: "İş Adresi" },
                    ],
                    save: function(e) {
                        //$.ErcanAyhan.Server.PostAsync({ Name: e.values.ProjectName, ProjectId: e.model.ProjectId }, "/Work/UpdateProject", "")
                    },
                    dataBound: function(e) {
                        $.ErcanAyhan.Loading.waitMe('hide');
                    }
                });
            }
        };


    </script>
}