@{
    ViewBag.Title = "Sicil Verileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet"/>
@{
    if (!Accesses.IsAdmin)
    {
        <text>
            <div class="col-lg-3">
                <div class="widget style1 red-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-times fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right m-t-10">
                            <span style="font-size: 16px;">Sicil Verilerini Yalnızca Admin Kullanıcı Görebilir</span>
                        </div>
                    </div>
                </div>
            </div>
        </text>
        return;
    }
}
<div class="sidebar-container">
    <ul class="nav nav-tabs navs-4">
        <li>
            <a data-toggle="tab" href="#tab-1">
                <h3><i class="fa fa-user"></i> Anlık İşlem Dökümü</h3>
            </a>
        </li>
        <li class="active">
            <a data-toggle="tab" href="#tab-2">
                <h3><i class="fa fa-address-card-o "></i> Sicil İşlem Dökümü</h3>
            </a>
        </li>
        @*<li>
            <a data-toggle="tab" href="#tab-3">
                <h3><i class="fa fa-try"></i> Rapor 3</h3>
            </a>
        </li>*@
        @*<li>
            <a data-toggle="tab" href="#tab-4">
                <h3><i class="fa fa-file-pdf-o"></i> Rapor 4</h3>
            </a>
        </li>*@
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane">
            <div class="sidebar-title">
                <h3> <i class="fa fa-user"></i> Rapor 1</h3>
            </div>
            <div>İçerik 1</div>
        </div>
        <div id="tab-2" class="tab-pane active">
            <div class="sidebar-title p-b-0">
                <div class="col-md-8">
                    <h3><i class="fa fa-address-card-o "></i> Sicil servisinde yapılan işlem ve dökümleri</h3>
                </div>
                <div class="col-md-2">
                    <div class="form-group m-b-0 text-center">
                        <label>BAŞLANGIÇ TARİHİ</label>
                        <div class="input-group">
                            <input type="text" class="form-control text-center" data-attribute="txtTarihIlk" maxlength="10" onkeyup="tarih(this);" style="background-color: #f9f9f9;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group m-b-0 text-center">
                        <label>BİTİŞ TARİHİ</label>
                        <div class="input-group">
                            <input type="text" class="form-control text-center" data-attribute="txtTarihSon" maxlength="10" onkeyup="tarih(this);" style="background-color: #f9f9f9;" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="body" style="background-color: white">
                <div id="dvSayilar" style="background-color: white;">
                    <div class="form-group">
                        <label class="m-t-10 m-l-20">SİCİL PERSONELİ</label>
                        <div id="Kullanicilar" class="col-lg-12 col-md-12"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div style="height: 10px;"></div>
                    <div id="Veriler" class="col-lg-12 col-md-12"></div>
                    <div class="clearfix"></div>
                    <div class="dvListeler">
                        <div id="dvKucukSayilar"></div>
                        <div id="dvListe"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-3" class="tab-pane">
            <div class="sidebar-title">
                <h3> <i class="fa fa-try"></i> Rapor 3</h3>
            </div>
            <div> İçerik 3</div>
        </div>
        <div id="tab-4" class="tab-pane">
            <div class="sidebar-title">
                <h3> <i class="fa fa-file-pdf-o"></i> Üye ile ilgili verilebilen evraklar</h3>
            </div>
            <div>İçerik 4</div>
        </div>
    </div>
</div>


<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(function() {
        $("[data-attribute='txtTarihIlk']").val(bugun());
        $("[data-attribute='txtTarihSon']").val(bugun());
        $.ajax({
            url: "/Raporlar/Kullanicilar",
            dataType: "Json",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            type: "GET",
            success: function(data) {
                $("#Kullanicilar").html(data);
            }
        });
    });

    function IkiTarihArasi(id) {
        $("#Veriler").hide();
        var ilktarih = $("[data-attribute='txtTarihIlk']").val();
        var sontarih = $("[data-attribute='txtTarihSon']").val();
        if (ilktarih !== "" && sontarih !== "") {
            $.ajax({
                url: "/Raporlar/IkiTarihSicilVerileri",
                data: { ilktarih: ilktarih, sontarih: sontarih, id: id },
                dataType: "Json",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                success: function(data2) {
                    $("#dvListeler").hide();
                    $("#dvListe").hide();
                    $("#Veriler").html(data2);
                    $("#Veriler").fadeIn("slow");
                }
            });
        } else {
            swal("Tarih aralığı girmelisiniz", "Başlangıç ve Bitiş Tarihi alanları boş geçilemez.", "warning");
        }
    };

    $("#tabTarih").click(function() {
        $("#txtTarihIlk").val(bugun());
        $("#txtTarihSon").val(bugun());
        $.ajax({
            url: "/Raporlar/Kullanicilar",
            dataType: "Json",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            type: "GET",
            success: function(data) {
                $("#Kullanicilar").html(data);
            }
        });
    });
    $("#tblPersonelListeIslem").dataTable();

    function SicilVeriListe(islem, personelid) {

        var ilktarih = $("#txtTarihIlk").val();
        var sontarih = $("#txtTarihSon").val();
        $.ajax({
            url: "/Raporlar/PersonelListeIslem",
            type: "GET",
            dataType: "Json",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            data: { ilktarih: ilktarih, sontarih: sontarih, islem: islem, personelid: personelid },
            success: function(liste) {
                $("#dvListe").html(liste);
                $("#dvListe").show();
                $("#Veriler").fadeOut("slow",
                    function() {
                        $("#dvListeler").fadeIn("slow");
                    });

            }
        });
    }
</script>