<div class="footer">
    <div class="pull-right">
        ESTAP v.2.6
    </div>
    <div>
        <strong>
            Copyright
        </strong> 2017 - 2021 Tüm hakları saklıdır. Antalya Esnaf ve Sanatkarlar Odaları Birliği
    </div>
</div>