@using CTD.Core.Constants
@using CTD.Web.Framework.Enums
<!DOCTYPE html>
@{
    var ac = Accesses.IsLogin();
    if (ac != ForbiddenAccessTypes.IsLogout && ac == ForbiddenAccessTypes.UnForbidden)
    {
        Response.Redirect(StaticParams.Dashboard);
    }
}
<html>
<head>
    <meta charset="UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=Edge"> <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> <title>@ViewBag.Title | ESTAP Sicil Programı</title> <link rel="icon" href="favicon.ico" type="image/x-icon"> <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css"> <link href="~/Content/materialize.css" rel="stylesheet"/> <link href="~/Content/bootstrap.css" rel="stylesheet"/> <link href="~/Content/ercanayhan.min.css?v=1.0" rel="stylesheet"/>
</head>
<body>
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Lütfen bekleyin...</p>
    </div>
</div>
<div class="overlay"></div>
@RenderBody()
<br/>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/growl.js"></script>
<script src="~/Scripts/jquery.inputmask.bundle.js"></script>
<script src="~/Scripts/ercanayhan.admin.js?v=1.0"></script>
<script src="~/Scripts/ercanayhan.min.js?v=1.0"></script>
@RenderSection("scripts", false)
</body>
</html>