@{
    ViewBag.Title = "Sicil Makbuz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Scripts/select2/select2.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-2 m-t-10">
        <div class="form-group">
            <label>ESNAF SİCİL NO</label>
            <div class="input-group">
                <div class="form-line">
                    <input type="text" class="form-control" data-attribute="txtSicilNo" maxlength="6" onkeypress="return Numeric(this, event);" style="background-color: #f3f3f4;" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>FİYAT SINIFI</label><br />
            <section class="section">
                <div class="rbcontainer">
                    <input type="radio" name="grpsinif" id="rbsinif1" value="1" title="1. SINIF">
                    <label for="rbsinif1">
                        <span class="radio">1. Sınıf</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpsinif" id="rbsinif2" value="2" title="2. SINIF">
                    <label for="rbsinif2">
                        <span class="radio">2. Sınıf</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpsinif" id="rbsinif3" value="3" title="3. SINIF">
                    <label for="rbsinif3">
                        <span class="radio">3. Sınıf</span>
                    </label>
                </div>
            </section>
        </div>
        <div class="form-group">
            <label>TAHSİLAT İŞLEMİ</label><br />
            <section class="section">
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem1" value="2018" title="YENİ KAYIT">
                    <label for="rbislem1">
                        <span class="radio">Yeni Kayıt</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem2" value="2" title="DEĞİŞİKLİK">
                    <label for="rbislem2">
                        <span class="radio">Değişiklik</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem4" value="4" title="TERK">
                    <label for="rbislem4">
                        <span class="radio">Terk</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem12" value="1017" title="ODASIZ KAYIT">
                    <label for="rbislem12">
                        <span class="radio">Odasız Kayıt</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem13" value="2017" title="ODALI KAYIT">
                    <label for="rbislem13">
                        <span class="radio">Odalı Kayıt</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem6" value="6" title="SURET">
                    <label for="rbislem6">
                        <span class="radio">Suret</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem7" value="7" title="HİZMET BEDELİ">
                    <label for="rbislem7">
                        <span class="radio">Hizmet Bedeli</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem8" value="8" title="SİCİL GAZETESİ">
                    <label for="rbislem8">
                        <span class="radio">Sicil Gazetesi</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem9" value="9" title="İhale Yazısı">
                    <label for="rbislem9">
                        <span class="radio">İhale Yazısı</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem10" value="10" title="Kapasite Raporu">
                    <label for="rbislem10">
                        <span class="radio">Kapasite Raporu</span>
                    </label>
                </div>
                <div class="rbcontainer">
                    <input type="radio" name="grpislem" id="rbislem11" value="11" title="Tasdik">
                    <label for="rbislem11">
                        <span class="radio">Tasdik</span>
                    </label>
                </div>
            </section>
        </div>
        <div class="form-group">
            <button id="btnMakbuzOlustur" class="btn btn-success" title="Makbuz Oluştur"><i class="fa fa-file-text-o"></i> Makbuz Oluştur</button>
        </div>
        <div class="clearfix"></div> <br /><br />
    </div>
    <div id="dvDokum" class="col-md-10 p-10">
        <div class="col-md-5">
            <div class="form-group">
                <label id="lblAdSoyad" class="f-16 m-t-30 text-navy"></label> <input type="hidden" id="hdAdSoyad" />
            </div>
        </div>
        <div class="col-md-4">
            <label>MESLEK ODASI</label> <input class="form-control" id="MeslekOdasi" data-attribute="MeslekOdasi" />
        </div>
        <div class="col-md-3">
            <label>İŞLEMİ YAPAN</label> <input class="form-control" data-attribute="Kullanicilar" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2 col-xs-6">
            <div class="form-group">
                <label>SERİ NO</label>
                <div class="input-group">
                    <div class="form-line">
                        <input type="text" class="form-control" data-attribute="txtSeriNo" maxlength="10" onkeyup="BuyukHarf(this)" style="background-color: #f3f3f4;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="form-group">
                <label>MAKBUZ NO</label>
                <div class="input-group">
                    <div class="form-line">
                        <input type="text" class="form-control" data-attribute="txtMakbuzNo" maxlength="6" onkeypress="return Numeric(this, event);" style="background-color: #f3f3f4;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>MAKBUZ TARİHİ</label>
                <div class="input-group">
                    <div class="form-line">
                        <input type="text" class="form-control" data-attribute="txtMakbuzTarihi" maxlength="10" onkeyup="tarih(this)" style="background-color: #f3f3f4;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>AÇIKLAMA</label>
                <div class="input-group">
                    <div class="form-line">
                        <input type="text" class="form-control" data-attribute="txtAciklama" onkeyup="BuyukHarf(this)" style="background-color: #f3f3f4;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div id="divMakbuzListe"> @Html.Action("_MakbuzDokum", "Makbuz") </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="/Scripts/select2/select2.min.js"></script>

    <script>
        $("#dvDokum").hide();

        $("#btnMakbuzOlustur").click(function () {
            var sicilno = $("[data-attribute='txtSicilNo']").val();
            var sinif = 0;
            var siniftext = "";
            var islem = 0;
            var islemtext = "";
            $("#hdAdSoyad").val("");

            if (sicilno !== "") {
                var siniflar = document.getElementsByName("grpsinif");
                var islemler = document.getElementsByName("grpislem");
                for (var x = 0; x < siniflar.length; x++) {
                    if (siniflar[x].checked) {
                        sinif = siniflar[x].value;
                        siniftext = siniflar[x].title;
                    }
                }
                for (var x = 0; x < islemler.length; x++) {
                    if (islemler[x].checked) {
                        islem = islemler[x].value;
                        islemtext = islemler[x].title;
                    }
                }
                if (sinif == 0 || islem == 0) {
                    swal("Fiyat Sınıfı ve Tahsilat İşlemi seçmelisiniz!", "Seçim alanlarını boş geçemezsiniz.", "warning");
                } else {
                    $.ajax({
                        url: "/Makbuz/MakbuzDokum",
                        data: {
                            sicilno: sicilno,
                            sinif: sinif,
                            islem: islem,
                            userId: @Accesses.Id
                        },
                        datatype: "json",
                        success: function (tm) {
                            $("#lblAdSoyad").text(tm.AdSoyad + " (" + sicilno + ")");
                            $("#hdAdSoyad").val(tm.AdSoyad);
                            $("#hdAdSoyad2").val(tm.AdSoyad);
                            let seriNoSelector = $("[data-attribute='txtSeriNo']").val(tm.Makbuz.OnTaki);
                            let makbuzNoSelector = $("[data-attribute='txtMakbuzNo']").val(tm.Makbuz.MakbuzNo);
                            $("[data-attribute='txtMakbuzTarihi']").val(bugun());
                            $("[data-attribute='txtAciklama']").val(islemtext + " (" + siniftext + ")");

                            $("#MeslekOdasi").select2({
                                placeholder: 'Meslek odası seçiniz',
                                type: "GET",
                                data: tm.UyeMeslekOdaList
                            });
                            $("[data-attribute='MeslekOdasi']").select2("val", tm.MeslekOdasiId);
                            $("[data-attribute='Kullanicilar']").select2({
                                placeholder: 'Memur seçiniz',
                                type: "GET",
                                data: tm.Kullanicilar
                            });
                            let usersSelector = $("[data-attribute='Kullanicilar']").select2("val", tm.KullaniciId);

                            $.ajax({
                                url: "/Makbuz/_MakbuzDokum",
                                datatype: "Json",
                                data: {
                                    islem: islem,
                                    sinif: sinif,
                                    siciladsoyad: $("#lblAdSoyad").text(),
                                    not: $("[data-attribute='txtAciklama']").val()
                                },
                                success: function (data) {
                                    $("#divMakbuzListe").html(data);
                                }
                            });
                        }
                    });
                    $("#dvDokum").show();
                }
            } else {
                swal("Sicil No Boş Geçmeyiniz!", "Esnaf Sicil No alanını boş geçemezsiniz.", "warning");
            }
        });

        function SicilMakbuzKaydet() {
            var kullaniciid = $("[data-attribute='Kullanicilar']").val();
            if (kullaniciid == "") {
                swal("Seçim yapınız!", "İşlemi Yapan alanı boş geçilemez!", "warning");
            } else {
                swal({
                    title: "Makbuz Kaydedilecek.",
                    text: "Tahsilat kaydedilecek. Onaylıyor musunuz?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Evet, Onaylıyorum!",
                    cancelButtonColor: "#DD6B55",
                    cancelButtonText: "Hayır, iptal edilsin!",
                    closeOnConfirm: true,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            var sicilno = $("[data-attribute='txtSicilNo']").val();
                            var sinif = 0;
                            var islem = 0;

                            var siniflar = document.getElementsByName("grpsinif");
                            var islemler = document.getElementsByName("grpislem");
                            for (var x = 0; x < siniflar.length; x++) {
                                if (siniflar[x].checked) {
                                    sinif = siniflar[x].value;
                                }
                            }
                            for (var x = 0; x < islemler.length; x++) {
                                if (islemler[x].checked) {
                                    islem = islemler[x].value;
                                }
                            }

                            $.ajax({
                                url: "/Makbuz/MakbuzKaydet",
                                type: "POST",
                                datatype: "json",
                                data: {
                                    sicilno: sicilno,
                                    islem: islem,
                                    sinif: sinif,
                                    toplamtahsilat: $("#lblToplamTutar").text(),
                                    idtahsilati: $("#lblIDTutar").text(),
                                    birliktahsilati: $("#lblBirlikTutar").text(),
                                    serino: $("[data-attribute='txtSeriNo']").val(),
                                    makbuzno: $("[data-attribute='txtMakbuzNo']").val(),
                                    makbuztar: $("[data-attribute='txtMakbuzTarihi']").val(),
                                    aciklama: $("[data-attribute='txtAciklama']").val(),
                                    islemiyapan: $("[data-attribute='Kullanicilar']").val(),
                                    oda: $("[data-attribute='MeslekOdasi']").val(),
                                    adisoyadi: $("#hdAdSoyad").val()
                                },
                                success: function () {
                                    $.ajax({
                                        url: "/Makbuz/MakbuzSayac",
                                        datatype: "Json",
                                        data: { serino: $("[data-attribute='txtSeriNo']").val(), makbuzno: $("[data-attribute='txtMakbuzNo']").val() },
                                        success: function () {
                                            $("#btnPrint").show();
                                            $("#btnKaydet").hide();
                                            $("#btnTemizle").show();
                                        }
                                    });
                                }
                            });

                            //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        } else {
                            swal("İptal Edildi!", "İsteğiniz üzerine işlem iptal edilmiştir :)", "error");
                        }
                    });
            }

        }

        function YazdirSicilMakbuz(div) {
            document.getElementById('printdiv').style.display = "none";
            document.getElementById('btnTemizle').style.display = "inline";
            PopupMakbuz($(printdiv).html());
        }

        function PopupMakbuz(data) {
            var printwindow = window.open('', 'printdiv');
            printwindow.document.write(data);
            printwindow.document.close();

            document.getElementById('printdiv').style.display = "none";
            printwindow.focus();
            printwindow.print();
            printwindow.close();
            document.getElementById('printdiv').style.display = "none";
        }

    </script>
}