@model CTD.Dto.SingleDto.MakbuzTekrar

@{
    decimal idtotal = 0;
    ViewBag.Title = "MakbuzYazdir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input id="btn" type="button" onclick="YazdirSicilMakbuz('#dvYazdirmaAlani')"/>
<div id="dvYazdirmaAlani">
    <div style="font-family: Arial, Helvetica, sans-serif; font-size: 1em; margin: 0;">
        <div style="left: 2cm; position: absolute; text-align: center; top: 0;"> ANTALYA<br/> ESNAF VE SANATKARLAR<br/> ODALARI BİRLİĞİ </div>
        <div style="left: 3cm; position: absolute; text-align: left; top: 2.8cm;"> @*@ViewData["siciladsoyad"]*@ </div>
        <div style="left: 16cm; position: absolute; text-align: left; top: 4.2cm;"> @DateTime.Now.ToShortDateString() </div>
        <table style="left: 1.5cm; position: absolute; top: 7cm; width: 16cm;">
            @foreach (var item in Model.MakbuzDetaylari)
            {
                var satir = "";
                if (item.MAKBUZ == true)
                {
                    satir += @"<tr>" + Environment.NewLine + "<td style='text-align:left; height:0.5cm'>" + item.ACIKLAMA + "</td>" + Environment.NewLine + "<td style='text-align:right; height:0.5cm; width:3cm;'>" + item.TUTAR.ToString("c") + "</td>" + Environment.NewLine + "</tr>";
                }
                @Html.Raw(satir)
            }
        </table>
        <div style="display: block; left: 1.5cm; position: absolute; text-align: left; top: 13.5cm;"> </div>
        <div style="left: 2.5cm; position: absolute; text-align: left; top: 15.3cm;">
            @{
                if (idtotal != 0)
                {
                    decimal? salePrice = idtotal;
                    var sTutar = salePrice.ToString().Replace('.', ',');
                    var lira = sTutar.Substring(0, sTutar.IndexOf(','));
                    var kurus = sTutar.Substring(sTutar.IndexOf(',') + 1, 2);
                    var yazi = "";
                    string[] birler = {"", "bir", "iki", "üç", "dört", "beş", "altı", "yedi", "sekiz", "dokuz"};
                    string[] onlar = {"", "on", "yirmi", "otuz", "kırk", "elli", "altmış", "yetmiş", "seksen", "doksan"};
                    string[] binler = {"katrilyon", "trilyon", "milyar", "milyon", "bin", ""};
                    var grupSayisi = 6;
                    lira = lira.PadLeft(grupSayisi * 3, '0');
                    string grupDegeri;
                    for (var j = 0; j < grupSayisi * 3; j += 3)
                    {
                        grupDegeri = "";
                        if (lira.Substring(j, 1) != "0")
                        {
                            grupDegeri += birler[Convert.ToInt32(lira.Substring(j, 1))] + "yüz";
                        }
                        if (grupDegeri == "biryüz")
                        {
                            grupDegeri = "yüz";
                        }
                        grupDegeri += onlar[Convert.ToInt32(lira.Substring(j + 1, 1))];
                        grupDegeri += birler[Convert.ToInt32(lira.Substring(j + 2, 1))];
                        if (grupDegeri != "")
                        {
                            grupDegeri += binler[j / 3];
                        }
                        if (grupDegeri == "birbin")
                        {
                            grupDegeri = "bin";
                        }
                        yazi += grupDegeri;
                    }
                    if (yazi != "")
                    {
                        yazi += " TL ";
                    }
                    var yaziUzunlugu = yazi.Length;
                    if (kurus.Substring(0, 1) != "0")
                    {
                        yazi += onlar[Convert.ToInt32(kurus.Substring(0, 1))];
                    }
                    if (kurus.Substring(1, 1) != "0")
                    {
                        yazi += birler[Convert.ToInt32(kurus.Substring(1, 1))];
                    }
                    if (yazi.Length > yaziUzunlugu)
                    {
                        yazi += "kuruş";
                    }
                    <span> #@yazi# </span>
                }
            }
        </div>
        <div style="left: 17cm; position: absolute; text-align: left; top: 15.3cm;"> @idtotal.ToString("c") </div>
    </div>
</div>


@section scripts{
    <script>
        $("#btn").trigger('click');

        function YazdirSicilMakbuz(div) {
            document.getElementById('dvYazdirmaAlani').style.display = "none";
            PopupMakbuz($(dvYazdirmaAlani).html());
        }

        function PopupMakbuz(data) {
            var printwindow = window.open('', 'dvYazdirmaAlani');
            printwindow.document.write(data);
            printwindow.document.close();

            document.getElementById('dvYazdirmaAlani').style.display = "none";
            printwindow.focus();
            printwindow.print();
            printwindow.close();
            document.getElementById('dvYazdirmaAlani').style.display = "none";
        }
    </script>
}